<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <%= link_to root_path, class: 'navbar-item' do %>
      <strong>Simple Airbnb</strong>
    <% end %>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">

      </div>
    </div>
  </div>
</nav>
